* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #c0c0c0;
  overflow-x: hidden;
  font-family: 'Courier New', monospace;
  font-size: 14px;
  color: #000;
}

main {
  max-width: 80%;
  margin: auto;
  padding: 2rem 1rem;
}

section {
  padding: 2rem 0;
}

img {
  max-width: 100%;
}

button {
  padding: 0.5rem 1rem;
  border: 2px outset #fff;
  background: #f0f0f0;
  text-decoration: none;
  color: #000;

  &:hover {
    border-style: inset;
    background: #000080;
    cursor: pointer;
    color: #fff;
  }
}

small {
  font-size: 12px;
}

.inner {
  max-width: 1200px;
  margin: auto;

  @media screen and (max-width: 1200px) {
    max-width: -webkit-fill-available;
  }
}

.secao-titulo {
  width: fit-content;
  height: fit-content;

  .titulo {
    font-weight: 900;
  }
}

.galeria {
  padding: 0;

  .item {
    display: grid;
    grid-template-columns: 200px 2fr;
    margin: 0 0 1rem 0;

    @media screen and (max-width: 900px) {
      grid-template-columns: 1fr;
    }

    img {
      width: 100%;
      max-width: 200px;

      @media screen and (max-width: 900px) {
        max-width: 100%;
      }
    }

    .detalhes {
      padding: 1rem;

      .titulo {
        margin: 0 0 0.5rem 0;
      }
    }
  }
}

.card {
  .card__header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    align-items: center;
    border-bottom: 1px solid #1b1b1bdd;

    .card__header__title {
      margin: 0;
    }

    .card__header__buttons-container {
      display: flex;

      button {
        min-width: 20px;
        width: 20px;
        min-height: 20px;
        height: 20px;
        margin: auto;
        padding: 0;
        background-color: transparent;
        border: 1px solid #1b1b1bdd;
        text-align: center;
      }
    }
  }

  .card__body {
    padding: 1rem;
  }
  
  &.card--y2k {
    width: fit-content;
    max-width: 600px;
    border: 1px solid #1b1b1bdd;

    .card__header {
      background-color: #000080;
      color: #fff;

      .card__header__buttons-container {
        button {
          background-color: #ffda56;
        }
      }
    }

    .card__body {
      background-color: #f8f2da;
    }
  }

  &.card--support-me {
    display: grid;
    max-width: 120px;

    img {
      margin: auto;
    }

    a {
      width: fit-content;
      text-align: center;
    }
  }
}

.win98__screen-icon__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);

  a {
    width: fit-content;
    text-align: center;

    .win98__screen-icon__container__list-icons__icon {
      display: grid;
      width: fit-content;
      font-size: 12px;
    
      img {
        width: 100%;
        max-width: 60px;
        margin: auto;
      }
    
      span {
        margin: 0.3rem 0 0 0;
      }
    }
  }
}

footer {
  padding: 2rem 1rem;
  background-color: #000080;
  color: #fff;

  .btns {
    display: flex;

    @media screen and (max-width: 400px) {
      display: block;
    }

    a {
      width: fit-content;
      color: #fff;

      button {
        @media screen and (max-width: 400px) {
          width: 100%;
        }
      }
    }
  }

  a {
    &:link,
    &:visited,
    &:active,
    &:focus {
      background-color: #c0c0c0;
    }
  }
}

/* seção contato */
.contact {
  .inner {
    display: flex;
    gap: 3rem;

    .container--image {
      width: 100%;
      max-width: 100px;
      position: relative;
      transform: rotate(30deg);
      overflow: visible;

      &:hover {
        transform: rotate(10deg);

        &::after {
          opacity: 1;
          z-index: 3;
        }
      }

      &::after {
        content: "ring ring ring 😺";
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #333;
        color: #e1be26;
        padding: 6px 8px;
        border-radius: 6px;
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
      }
    }
  
    .container--content {
      margin: auto 0;
    }
  }
}

/* Home: dúvidas frequentes */
.perguntas-frequentes__header {
  display: flex;
  margin: 0 0 1rem 0;
  gap: 1rem;
  align-items: center;

  img {
    width: 100px;
  }
}

.duvidas-lista {
  .duvidas-lista__item {
    margin: 2rem 0 0 0;

    h3 {
      margin: 0;
    }
  }
}